<% if @url.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
  <% @url.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<div class='container'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 logo'>
        <%= link_to image_tag('urly_tiny.png'), root_path %>
      </div>
    </div>
  </div>

  <div class='container'>
    <div class='row'>
      <div class='form-inline center-block col-md-12'>
        <%= form_for @url do |f|  %>
          <div class='form-group'>
            <%= f.label :original_url, 'Original URL'  %>
            <%= f.text_field :original_url %>
            <%= f.hidden_field :user_id %>
            <%= f.submit 'tiny!', :class => 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @urls %>
      <%= render 'urls/list' %>
    <% end %>
  </div>
</div>
